*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    /* background-image:url(images/banner.png); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/banner.png");
    /* background:
    linear-gradient(rgba(0,184,255,0.45),rgba(0,184,255,0.45)),
    url('images/banner.png'); */
    background-position: center;
    background-size:cover;
    position: relative;
}

nav{
    padding:2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background:red;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
  
}
.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color:#fff;
    font-size:18px;
}
.hero-btn{
   display: inline-block;
   text-decoration: none;
   color:#fff;
   border: 1px solid #fff;
   padding: 10px 30px;
   font-size: 15px;
   background:transparent;
   position: relative;
   cursor: pointer;
   font-size: 20px;
   background-color:darkmagenta;
   
}
.hero-btn:hover{
    border: 1px solid #f4433f;
    background:blue;
    transition: 1s;
}


/* .........font awesome of problem................ */

nav .fa{
    display: none;
}


@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: rgb(73, 69, 69);
        height:100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    
}


/* -------------Course------------- */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;

}
h1{
    font-size:36px;
    font-weight: 600;
}

.text-style{
    color: black;
    font-size: 18px;
}
p{
    color:#fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background:#7e7777;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;

}
.course-col:hover{
    box-shadow:  5px 5px #f4433f;
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}


/* -----Campus------ */
.campus{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;

}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}

.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background-color:rgba(255,0,0,0.3);
   
}

/* 
---------opacity problem-------- */

.layer h3{
    width: 100%;
    font-weight: 500;
    color:#fff;
    font-size:26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);           
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.layer h3:hover{
    bottom: 49%;
    opacity:1;
}



/* ---------Facilities------- */

.facilities{
    width: 80%;
    margin: auto;
     text-align: center;
     padding-top: 20px;

}
.facilities-col{
    flex-basis:31%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.text-design{
    color: black;
    padding:0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ---------Testmonials part------- */



.testmonials{
    width: 80%;
    margin: auto;
     text-align: center;
     padding-top: 100px;

}
.testimonial-col{
    flex-basis:44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:cadetblue;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

/* 
---=-------font awesome----- */

.testimonial-col .fa{
    color: #f44336;
}
@media(max-width:700px){
    .testimonial-col img{
       
        margin-left: 0px;
        margin-right: 15px;
       
    }

}

/* ------To call Action---- */
.cta{
    margin: 100px auto;
    width: 80%;
    /* background-image: url(images/banner.png); */

    background:
    linear-gradient(rgba(0,184,255,0.45),rgba(0,184,255,0.45)),
    url('images/banner.png'); 
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px o;

}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){
   
    .cta h1{
      font-size:24px;
    }
}

/* --------footer------ */

/* 
.footer{
    width: 100%;
    text-align:center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.style{
    color: black;
} */



/* -------font awesome---- footer*/

/* .icons .fa{
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
} */



/* -----------Contact Us part---------!!! */

body{
    margin: 0;
    padding: 0;
    /* background:url(images/background.jpg); */
    background-color:bisque;
}

.contact-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius:8px;
    text-align:center;
    box-shadow: 0 0 20px #000000b3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#fff; 
}

.contact-form input:hover{
    background:#f1f1f1;
}

.contact-form h1{
    margin-top: 0;
    font-weight: 200;
}
.textb{
    border: 1px solid gray;
    padding: 12px 18px;
    margin: 8px 0;
    border-radius: 8px;  

}

.textb label{
    display: block;
    text-align:left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.textb input,.textb textarea{
    width:100%;
    border: none;
    background:none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;

}
.btn{
    display: inline-block;
    background:purple;
    color: #fff;
    padding: 14px 0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:8px;
    width: 100%;

}
.btn:hover{
    border: 1px solid #f4433f;
    background:blue;
    transition: 1s;
}


/* -----------status success button section ----- */

#status{
    width: 90%;
    max-width:500px;
    text-align:center;
    padding: 10px;
    margin: 0 auto;
    /* border-radius:8px; */
}
#status.success{
    background-color:rgb(38, 219, 219);
    margin-top: 10px;
    width: 100%;
    animation: status 4s ease forwards;
}
#status.error{
    background-color:rgb(38, 219, 219);
    margin-top: 10px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    animation: status 4s ease forwards;
}


/* ........success button hidden system....... */

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }

    90%{
        opacity: 1;
        pointer-events: all;
    }

    100%{
        opacity: 0;
        pointer-events: none;
    }
}
